{% extends "_base.html" %}

{% block title %}{% endblock %}

{% block content %}


<div class="container">
  <div class="row">
    <div class="col-xs-12">


      <form class="form-horizontal" action="/books" method="post">

        <div class="form-group">
          <label for="title">Title</label>
          <input class="form-control" type="text" name="title">
        </div>

        <div class="form-group">
          <label for="genre">Genre</label>
              <select class="form-control" name="genre" required>
                {% for genre in genres %}
                <option>{{genre}}</option>
                {% endfor %}
              </select>
        </div>

        <div class="form-group">
          <label for="cover_img_url">Cover Image URL</label>
          <input class="form-control" type="text" name="book_cover_url">
        </div>

        <div class="form-group">
          <label for="description">Description</label>
            <textarea class="form-control" rows="5" input type="text" name="description"></textarea>
        </div>

        <div class="form-group">
          <label for="authors">Authors</label>
          <input class="form-control" type="text" name="authors">
        </div>


        <button class="form-group btn btn-submit btn-lg center-block" type="submit" value="submit">Add Book</button>


      </form>
    </div>
  </div>
</div>

{% endblock %}
